*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-img{
    margin-top: 20px;

}

.signin-img img{
    width: 100px;
}

form{
    border: 1px solid #2b2b2b3b;
    border-radius: 5px;
    padding: 20px 25px;
    width: 350px;
    height: auto;
    display: flex;
    
}

.sign-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.sign-form h5{
    font-size: 17px;
    font-weight: 200;
}

.signin-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signin-btn label{
    font-size: 14px;
    font-weight: 700;
}
.signin-btn input{
    height: 30px;
    border: 1px solid #0f1111;
    border-radius: 3px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    outline: none;
}
.signin-btn button{
    height: 33px;
    border: none;
    border-radius: 20px;
    background-color: #e8c82a;
    cursor: pointer;
    
}
.signin-btn input:focus{
    border: 1px solid green;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}
.signin-btn button:hover{
    background-color: #dfa533;
}

.signin-paragraph{
    margin-top: 10px;
    font-size: 13px;
    
}
.signin-paragraph a{
    color: #2162a1;
    cursor: pointer;
}
.signin-paragraph a:hover{
    color:  #131a22;
}
.need-signin{
    padding-top: 20px;
    font-size: 14px;
    color: #2162a1;
    cursor: pointer; 
}
.need-signin:hover{
    color:  #131a22;
}

.hr{
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buying-text{
    font-size: 15px;
    font-weight: 600;
}
.signin-b-account  {
    font-size: 14px;
    color: #2162a1;
    cursor: pointer;
    text-decoration: none;
}
.signin-b-account:hover{
    text-decoration: underline;
    color:  #131a22;
}

.hr2{
    height: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.signin-help{
    display: flex;
    justify-content: space-between;
    width: 259px;
    
}
.signin-help a{
    font-size: 13px;
    color: #2162a1;
    text-decoration: none;
    margin-bottom: 14px;
    cursor: pointer;
}

.signin-help a:hover{
    text-decoration: underline;
    color: #131a22;
}

.help-p{
    font-size: 13px;
}

